<%- include("partials/header") %>

<div class="ui main text container p-4 border border-secondary">
  <div class="ui huge header text-center">Edit the details here...</div>
  <form class="ui form" action="/trips/<%=  %>?_method=PUT" method="POST">
    <div class="field">
      <input
        type="text"
        name="roll_no"
        value="<%= currentUser.roll_no %>"
        required
      />
    </div>
    <div class="field">
      <input type="text" name="branch" value="<%= currentUser.branch %>" required />
    </div>
    <div class="field">
      <input
        type="text"
        name="train_name"
        value="<%= currentUserTrip.train_name %>"
        required
      />
    </div>
    <div class="field">
      <input
        type="text"
        name="train_no"
        value="<%= currentUserTrip.train_no %>"
        required
      />
    </div>
    <div class="field">
      <label>Date of Travel</label>
      <input type="date" name="date" value="<%= currentUserTrip.date %>" required />
    </div>
    <div class="field">
      <input
        type="text"
        name="departure"
        value="<%= currentUserTrip.departure %>"
      />
    </div>
    <div class="field">
      <input
        type="text"
        name="arrival"
        value="<%= currentUserTrip.arrival %>"
      />
    </div>
    <button class="ui teal big basic button">Edited</button>
  </form>
</div>

<%- include("partials/footer") %>
