<%- include("partials/header") %>

<div class="container">
	<div class="jumbotron">
		<% if(users.length === 1) { %>
			<h1 class="ui huge header">
				Seems like you haven't got any company yet ...
			</h1> 
			<h3 class="display-4">
				Keep checking this app..Somebody might join you soon :') 
			</h3>
		<% } else { %>
			<h1 id="showHeader">
				Your co-passengers list ( <%= users.length -1 %> )  
			</h1>
			<div class="row">
				<% for(var i = 0; i<users.length; i++){ %>
					<% if(users[i].roll_no === currentUser.roll_no) { %>
							<% continue; %>
						<% } else { %>
								<div class="col-sm-12 col-md-6 col-lg-4">
									<div class="ui card m-2">
										<div class="content">
											<div class="header"><%= users[i].name %></div>
											<div class="meta ml-4"><em>from</em> <%= users[i].branch.toUpperCase() %></div>
											<div class="description">
												<%= users[i].roll_no %>
											</div>
										</div>
									</div>
								</div>
						<% }} %>
			</div>
		<% } %>
	</div>
</div>


<%- include("partials/footer") %>