<%- include("partials/header") %>

<div class="container">
  <div class="jumbotron">
    <% if(trips.length === 1) { %>
		<h1 class="ui huge header">
			Seems like you haven't got any company yet ...
		</h1>
		<h3 class="display-4">
			Keep checking this app..Somebody might join you soon :')
		</h3>
    <% } else { %>
		<h1 id="showHeader">Your co-passengers list ( <%= trips.length -1 %> )</h1>
		<div class="row">
		<% trips.forEach(function(trip){ %> 
			<% if(trip.traveller.roll_no != currentUser.roll_no) { %>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="ui card m-2">
						<div class="content">
							<div class="header">
								<%= trip.traveller.name %>
								<img src="<%= trip.traveller.photo %>" alt="" class="img-thumbnail float-right show-image">
							</div>
							<div class="meta ml-2"><em>from</em> <%= trip.traveller.branch.toUpperCase() %></div>
							<p class="mt-2"><%= trip.traveller.roll_no %></p>
						</div>
					</div>
				</div> 
			<% } %>	
		<% }); %>
    <% } %>
  </div>
</div>

<%- include("partials/footer") %>
