<%- include("partials/header") %>


<div class="container">
    <% if (trips.length == 0){ %>
        <h1 class="ui huge header">
            You don't have any journey records at the moment ...
        </h1> 
        <p>Wanna register one ? <a href="/register">Click here</a></p>
        <br>
    <% } else { %>
        <p>Click on <strong>View</strong> to display your fellow travellers for that journey...</p>
        <div class="row">
            <% trips.forEach(function(trip){ %>
                <div class="col-md-6 mb-3">
                    <div class="card" style="background: mintcream;">
                        <div class="card-body">
                        <h2 class="card-title"><%= trip.train_name %><span class="float-right" style="font-size: 1rem;"><%= trip.date.toDateString() %></span> </h2>
                        <h6 class="card-subtitle mb-2 text-muted">Train No: <%= trip.train_no %></h6>
                        <div class="d-flex justify-content-between">
                            <div>departure : <em><%= trip.departure || "(not given)" %></em></div>
                            <div>arrival : <em><%= trip.arrival || "(not given)" %></em></div>
                        </div>
                        <br>
                        <a href="/trips/<%= trip._id %>" class="card-link ui positive basic button">View</a>
                        <a href="/trips/<%= trip._id %>/edit" class="card-link ui yellow basic button">Edit</a>
                        <form action="/trips/<%= trip._id %>/?_method=DELETE" method="POST" style="display: inline;">
                            <button class="float-right ui red basic button">Remove</button>
                        </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>
</div>


<%- include("partials/footer") %>
